---
---

$brand-color:      #be4767;

@import "minima";

h1, h2, h3, h4, h5, h6 { font-family: "HelveticaNeue-CondensedBold", "Arial Black", Gadget, sans-serif }

.site-header { border-top: none; }
.site-header .site-title { color: $brand-color !important; }

.site-nav .page-link { background-color: $brand-color; padding: 0.5em; color: white; border-radius: 5px; }
.site-nav .page-link:hover { text-decoration: none; background-color: $grey-color-dark; }
.site-nav .page-link:not(:last-child) { margin-right: 0.5em; }

.post-link:visited { color: $brand-color; }
.post-list h3 { margin-bottom: 0.1em; }

.post-list .post-thumbnail {
    max-width: 128px;
    max-height: 128px;
    float: left;
    margin-right: 0.75em;
    margin-bottom: 2em;
    margin-top: 0.2em;
}
.post-list a>img.post-thumbnail {
    border: solid 3px $background-color;
    border-radius: 5px;
}

.post-list a:hover>img.post-thumbnail {
    border: solid 3px $brand-color;
    border-radius: 5px;
}


.post-list li {
    clear: both;
    margin-bottom: 2em;
}

.post-content img { border-radius: 5px; }
.post-content h2 { margin-top: 1em; margin-bottom: 0.25em; }

.home .content { background-color: rgb(242, 242, 242); border-radius: 5px; padding: 1em; padding-bottom: 0.5em; margin-bottom: 2em; text-align: center; font-family: "Georgia"; font-size: 125%; }
.home .content img { width: 128px; border-radius: 64px; text-align: center; }


code {
    background-color: rgb(242, 242, 242);
    border: none;
}

.highlighter-rouge .highlight, .highlighter-rouge pre.highlight code {
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
}

