---
---

$brand-color:      #d32476;
$fg-color:         rgb(10, 10, 10);
$bg-color:         rgb(252, 252, 252);
$border-color:     rgb(212, 212, 212);
$strong-fg-color:  rgb(0, 0, 0);
$hover-fg-color:   #111;
$code-bg-color:    rgb(242, 242, 242);

$brand-color-dark:      #ff2d87;
$fg-color-dark:         rgb(200, 200, 200);
$bg-color-dark:         rgb(20, 20, 20);
$border-color-dark:     rgb(64, 64, 64);
$strong-fg-color-dark:  rgb(222, 222, 222);
$hover-fg-color-dark:   #eee;
$code-bg-color-dark:    rgb(10, 10, 10);
$code-nt-fg-color-dark: rgb(103, 207, 255);
$code-na-fg-color-dark: rgb(205, 205, 205);

$table-alt-row-color: rgb(240, 240, 240);
$table-head-color:    rgb(230, 230, 230);
$table-alt-row-color-dark: rgb(32, 32, 32);
$table-head-color-dark:    rgb(50, 50, 50);


@import "minima";

body { background-color: $bg-color; color: $fg-color; }

h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-CondensedBold", "Arial Black", Gadget, sans-serif;
    color: $strong-fg-color;
}
strong {
    color: $strong-fg-color;
}
a:visited { color: $brand-color; }
a:hover { color: $hover-fg-color; }

.site-header {
    border-top: none;
    border-bottom: 1px solid $border-color;
}
.site-header .site-title { color: $brand-color !important; }

.site-nav .page-link { background-color: $brand-color; padding: 0.333em 0.5em; color: white; border-radius: 5px; }
.site-nav .page-link:hover { text-decoration: none; background-color: $grey-color-dark; }
.site-nav .page-link:not(:last-child) { margin-right: 0.333em; }

.post-link:visited { color: $brand-color; }
.post-list h3 { margin-bottom: 0.1em; }

.post-list .post-thumbnail {
    max-width: 196px;
    max-height: 196px;
    float: left;
    margin-right: 0.75em;
    margin-bottom: 2em;
    margin-top: 0.2em;
}
.post-list a>img.post-thumbnail {
    border: solid 1px $bg-color;
    border-radius: 5px;
}

.post-list a:hover>img.post-thumbnail {
    border-color: $brand-color;
}

.post-list li {
    clear: both;
    margin-bottom: 2em;
}

.post-content img { border-radius: 5px; }
.post-content h2 { margin-top: 1em; margin-bottom: 0.25em; }

.home .content { background-color: $bg-color; border-radius: 10px; padding: 1em 2em 0.5em 2em; margin-bottom: 2em; text-align: center; font-family: "Georgia"; font-size: 125%; }
.home .content img { width: 128px; clip-path: circle(64px at center); -webkit-clip-path: circle(64px at center); }
.home .content a { font-weight: bold; font-family: $base-font-family; }
.home .content a:visited { color: $brand-color !important; }
.home .content a:hover { color: $brand-color !important; }


code {
    background-color: $code-bg-color;
    border: none;
}

.highlighter-rouge .highlight, .highlighter-rouge pre.highlight code {
    background-color: $code-bg-color;
    border: none;
    border-radius: 5px;
}

.content .video, .content .slides {
    margin-bottom: 2em;
    text-align: center;
}

h1 code, h2 code, h3 code, h4 code {
    font-size: 100%;
}

table {
    color: $fg-color;
}
table tr:nth-child(even) {
    background-color: $table-alt-row-color;
}
table th {
    background-color: $table-head-color;
}
table th, table td {
    padding: 6px 8px;
}

@media (prefers-color-scheme: dark) {
    body { background-color: $bg-color-dark; color: $fg-color-dark; }
    .site-header {
        border-bottom: 1px solid $border-color-dark;
    }
    .site-header .site-title { color: $brand-color-dark !important; }
    h1, h2, h3, h4, h5, h6 {
        color: $strong-fg-color-dark;
    }
    strong {
        color: $strong-fg-color-dark;
    }    
    a { color: $brand-color-dark; }
    a:visited { color: $brand-color !important; }
    a:hover { color: $hover-fg-color-dark; }
    a.page-link { color: #fff !important; }
    .site-nav .page-link { background-color: $brand-color-dark; }
    .post-link:visited { color: $brand-color-dark; }
    .home .content a:visited { color: $brand-color-dark !important; }
    .home .content a:hover { color: $brand-color-dark !important; }
    .post-list a>img.post-thumbnail {
        border: solid 1px $bg-color-dark;
    }
    .post-list a:hover>img.post-thumbnail {
        border-color: $brand-color-dark;
    }
    .home .content { background-color: $bg-color-dark; }
    pre, code {
        background-color: $code-bg-color-dark;
    }
    pre {
        border-color: $border-color-dark;
    }
    table {
        color: $fg-color-dark;
    }
    table tr:nth-child(even) {
        background-color: $table-alt-row-color-dark;
    }
    table td {
        border-color: $border-color-dark;
    }
    table th {
        background-color: $table-head-color-dark;
        border-color: $border-color-dark;
    }
    .highlight .s2 {
        color: $brand-color-dark;
    }
    .highlight .s {
        color: $brand-color-dark;
    }
    .highlight .nt {
        color: $code-nt-fg-color-dark;
    }
    .highlight .na {
        color: $code-na-fg-color-dark;
    }
    .highlighter-rouge .highlight, .highlighter-rouge pre.highlight code {
        background-color: $code-bg-color-dark;
    }
}
