---
layout: default
---

<div class="post">
  <h1>{{ page.title }}</h1>

  <ul class="post-list">
    {% for post in site.tags[page.tag] %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
          <small class="post-meta">{{ post.date | date: date_format }}</small>
      </a>
      </h3>
      {%- if site.show_excerpts -%}
      {%- if post.thumbnail -%}
      <a class="post-link" href="{{ post.url | relative_url }}">
          <img class="post-thumbnail" src="{{ post.thumbnail | relative_url }}" />
      </a>
      {%- endif -%}
      <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      {{ post.excerpt }}
      <!-- <a href="{{ post.url | relative_url }}">Read more...</a> -->
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</div>
